@use "../../../styles/variables" as *;

mat-nav-list {
  padding: 10px;

  a {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  a mat-list-item {
    transition: background-color 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;

    p {
      margin: 0;
      color: $light-primary-color;
      font-size: 1.1rem;
      font-weight: 500;
    }
  }

  a:hover mat-list-item {
    background-color: $hover-background-color;
    cursor: pointer;
  }

  .active-link mat-list-item {
    background-color: $primary-color;
    font-weight: bold;
    border-left: 4px solid $light-primary-color;
  }
}
