<mat-nav-list>
    <a routerLink="/dashboard/products" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="nav-item-productos">
    <mat-list-item>
      <p>Productos</p>
    </mat-list-item>
  </a>
  <a routerLink="/dashboard/favorites" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="nav-item-favoritos">
    <mat-list-item>
      <p>Favoritos</p>
    </mat-list-item>
  </a>
  <a routerLink="/dashboard/offers" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="nav-item-ofertas">
    <mat-list-item>
      <p>Ofertas</p>
    </mat-list-item>
  </a>
</mat-nav-list>