<div class="filter-container">
  <h1>Filtrar listado</h1>
  <div class="ctrl-filter">
    <div [hidden]="selectedFilterKey !== 'price'">
      <mat-form-field>
        <mat-label>Precio mínimo</mat-label>
        <input type="number" [min]="minRangePrice" matInput placeholder="Precio minimo" [(ngModel)]="filterDto.minPriceFilter">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Precio máximo</mat-label>
        <input type="number" [max]="maxRangePrice" matInput placeholder="Precio máximo" [(ngModel)]="filterDto.maxPriceFilter">
      </mat-form-field>
    </div>
    <div [hidden]="selectedFilterKey === 'price'">
      <mat-form-field>
        <input type="text" matInput placeholder="Buscar por" [(ngModel)]="filterDto.brandFilter">
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-select [formControl]="filters" (selectionChange)="addFilter($event.value.key)">
        @for (sneakerFilter of sneakerFiltersList; track sneakerFilter) {
        <mat-option [value]="sneakerFilter">
          {{sneakerFilter.title}}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div class="btn-container">
      <button mat-raised-button color="primary" (click)="getFilteredList()">Filtar</button>
      <button mat-raised-button color="primary" (click)="clearFilters()">Limpiar</button>
    </div>
  </div>
</div>