@use '../../../styles/variables' as *;

.filter-container {
  background-color: $filter-background-color;
  margin-bottom: 2vh;
  padding: 10px;
  border-radius: 16px;
  color: $filter-text-color;
  .ctrl-filter {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    gap: 10px;
   

    > div:not([hidden]) {
      display: flex;
      gap: 10px;
      align-items: center;
      
    }
  }

  .btn-container {
    
    display: flex;
    justify-content: center;
  }
  
  .custom-clear-button {
      background-color: $filter-button-color; 
      color: $filter-text-color; 
    }
  .mat-mdc-raised-button {
      background-color: $filter-button-color; 
       color: $filter-text-color;
    }
}
