@use '../../../styles/variables' as *;

.favorite-list-container {
  background-color: $background-color;
  flex: 1; // ocupar el alto disponible del contenedor padre
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .favorite-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    justify-items: center;
    padding: 1rem; // opcional: para dar algo de margen
  }
}

.empty-list-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; // centra verticalmente respecto al contenedor padre
  color: $light-primary-color;
}
