@use '../../../styles/variables' as *;

.app-icon-container {
  margin-top: 5vh;
  text-align: center;
  img {
    width: 100px;
    height: 100px;
  }
}

.login-card {
  max-width: 400px;
  margin: 10px auto;
  padding: 20px;
  background-color: $card-color;

  h2 {
    text-align: center;
    color: $primary-color;
  }

  button {
    margin-top: 20px;
  }
}