@use '../../../styles/variables' as *;

.main-content {
  padding: 40px;
  background-color: $background-color;
}
.mat-drawer {
  background-color: $sidebar-background-color;
   
}
.mat {
  color: $primary-color;

}