@use '../../../styles/variables' as *;

mat-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: $nvar-color;
  
    .toolbar-title {
      font-weight: bold;
      color: $light-primary-color;
    }
  
    mat-icon {
      cursor: pointer;
    }
  }
  