<mat-card mat-elevation-z8 class="subscription-card">
    <h2 class="title">Suscribirse a alertas</h2>

    <div class="section">
        <h3>Para recibir notificaciones, pinche en el siguiente botón:</h3>
        <button mat-raised-button color="primary" class="action-button" (click)="openSubcriptionTab()">
            Subscribirse
        </button>
    </div>

    <div class="divider"></div>

    <div class="section">
        <h3>De lo contrario, puede cerrar esta ventana:</h3>
        <button mat-raised-button color="warn" class="action-button" (click)="goToDashboard()">Cerrar</button>
    </div>
</mat-card>