// src/styles/_variables.scss

$primary-color: #00ADB5;

$light-primary-color: #D6D6D6;

$dark-primary-color: #393E46;
$card-color: #393E46;
$nvar-color:#393E46;
$sidebar-background-color: #393E46;

$login-color:#0d1117;
$background-color: #0d1117;

$warn-color: #FF4D6D;

$hover-background-color: #00818A;






