// src/styles/_variables.scss

$primary-color: #00ADB5;

$light-primary-color: #ffffff;

//dark primary colors
$dark-primary-color: #393E46;
$card-color: #393E46;
$nvar-color:#393E46;
$sidebar-background-color: #393E46;

//black colors
$login-color:#0d1117;
$background-color: #0d1117;

$warn-color: #B8001F;

$sidebar-press-button-color: #ff00d4;






